#col-wrapper {
	width: 1200px;
	margin: 0px auto;
  overflow: hidden;
  background-color: white;
}

.photo {
  float: left;
  padding: 1em 2em;
}

.column {
  float: left;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  margin: 0.5em 3em;
}

#profile, #blog-posts, #blog-post {
	height: 100%;
  padding: 2em 2em;
	text-align: center;
}

#profile-title {
  text-align: left;
}

#profile-body {
  padding-top: 1em;
}

#profile-text {
  text-align: left;
}

/* Blog posts styling */

#blog-posts, #blog-post {
  text-align: left;
}

/* Contact page styling */

#contact-section {
  padding: 2em 2em;
  width: 60%;
}

#contact-section #title {
  text-align: center;
}

#contact-section hr {
  margin-bottom: 2em;
}

/* Form styling */

#sidebar-section {
  margin-top: 2em;
  margin-right: 2em;
  background-color: #294B71;
  color: #FFF;
}

#sidebar-section #title {
  padding-top: 0.5em;
  text-align: center;
}

#sidebar-section #body {
  width: 85%;
  margin: 0px auto;
  padding-top: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

textarea {
  resize: vertical; /* Only allow vertical resizing to prevent styling probssss */
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    border-radius: 0.15em;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: rgba(255,255,255,0.75);
    margin-bottom: 4%;
    border: 1px solid black;
    padding: 3%;
    color: black;
    font: 95% Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px black;
    padding: 3%;
    border: 1px solid black;
    background: #fff;
}

input[type="submit"],
input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #00c41a;
    border: none;
    color: #fff;
    font-size: 1.5em;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -ms-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    background: #387c00;
    font-size: 2em;
}
