#col-wrapper {
	width: 1200px;
	margin: 0px auto;
  overflow: hidden;
  background-color: white;
}

#profile {
	height: 100%;
  padding: 2em 2em;
	text-align: center;
}

#profile-title {
  text-align: left;
}

#profile-body {
  padding-top: 1em;
}

#profile-text {
  text-align: left;
}

.photo {
  float: left;
  padding: 1em 2em;
}

.column {
  float: left;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  margin: 0.5em 3em;
}


/* Form styling */

#sidebar-section {
  margin-top: 2em;
  margin-right: 2em;
  background-color: #294B71;
  color: #FFF;
}

#sidebar-section #title {
  padding-top: 0.5em;
  text-align: center;
}

#sidebar-section #body {
  width: 85%;
  margin: 0px auto;
  padding-top: 1em;
  padding-bottom: 2em;
  overflow: hidden;
}

input[type="text"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="time"],
input[type="url"],
textarea,
select {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus {
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

input[type="submit"],
input[type="button"] {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background: #2EBC99;
}
