#col-wrapper {
	width: 1200px;
	margin: 0px auto;
  overflow: hidden;
  background-color: white;
}

#sidebar-section {
  margin-top: 2em;
  margin-right: 2em;
  background-color: #294B71;
  color: #FFF;
}

#sidebar-section #title {
  padding-top: 0.5em;
  text-align: center;
}

#profile {
	height: 100%;
  padding: 2em 2em;
	text-align: center;
}

#profile-title {
  text-align: left;
}

#profile-body {
  padding-top: 1em;
}

#profile-text {
  text-align: left;
}

.photo {
  float: left;
  padding: 1em 2em;
}

.column {
  float: left;
}

.left {
  width: 65%;
}

.right {
  width: 35%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  margin: 0.5em 3em;
}